#webshop, #warenkorb {
    transition: all 0.3s ease;
}

.show-cart #webshop {
    display: block;
}

.show-cart #warenkorb {
    display: block;
}

h1{
    font-size: small;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1 1 auto;
}